<a href="https://colab.research.google.com/github/pwaaron/CS1010E-tutorials/blob/master/Intro_to_CS1010E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to **CS1010E Programming Methodology**
#### Matheus Aaron, [matheus9@comp.nus.edu.sg](mailto:matheus9@comp.nus.edu.sg)
Welcome to CS1010E! 
As most of you are Engineering students, I believe most of you take this module half-heartedly. Why do I need to learn coding when all I do is engineering? If you think this module is all about coding, then you are dead wrong. 
This module teaches you how to systematically solve problems. It is called *computational thinking*. You will learn how to solve problems in which you can apply the soft skills in real life. 

But enough about jargons, what is inside CS1010E?
In CS1010E, you will learn programming methodology with `Python`. You will learn how to write a very simple code, repeat some tasks automatically, solving problems, to actually simulating real world.

Python itself is cool! You can do a lot with it, namely:

*   Image generation
*   Machine Learning (ML)
*   Artificial Intelligence (AI)

*...and many more!*

Learning can be tough.

![alt text](https://assets.amuniversal.com/2f5456206cc801301d50001dd8b71c47)

Well, maybe some of you have heard about the hell of CS1010E.

```
#73326:  Me after every CS1010E paper and PE... 
Proff Alan, we love your effort in keeping our attention with every meme you can find. 
Through one of the web lecture, I realised you spent a lot of time googling for them..
So thank you for your time . 
but I do hope i that will not see you again next sem.
```
![alt text](https://scontent.xx.fbcdn.net/v/t1.0-9/78312325_3197335607003545_7859685710960263168_o.jpg?_nc_cat=102&_nc_sid=2d5d41&_nc_ohc=iLw8RbWrSlsAX89B1Io&_nc_ht=scontent.xx&oh=906c244e3424455c63b1de4be9c830ae&oe=5F4172A5)
So, what are you waiting for? Let us get started.

## Preparation
Before we get started, run the code below. You will not need to understand what is this code for but for those interested what its for, feel free to ask me later.

In [ ]:
!pip3 install ColabTurtle 
from ColabTurtle.Turtle import *

Collecting ColabTurtle
  Downloading https://files.pythonhosted.org/packages/49/01/6da7091c2c6c917cce99c000b89acb6aa27b66ef6eafc0c0ccf59b98694f/ColabTurtle-2.0.0.tar.gz
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py) ... done
  Created wheel for ColabTurtle: filename=ColabTurtle-2.0.0-cp36-none-any.whl size=4033 sha256=a0fd827f811dcfb5635146477592a7b581049583c54130e7848ec44bbdf9fae1
  Stored in directory: /root/.cache/pip/wheels/a8/29/ec/ad346f0042ae467cc74f4378916348faf975b07890651dcae7
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.0.0

# **Introduction**
Your official `Hello world!` in `Python`!

In [ ]:
print("Hello world!")
print("13")
print("8888 8888")

Hello world!
13
8888 8888

## **Data Types**
There are four *primitive* data types in Python. They are:

1. Integers
2. Float
3. Strings
4. Boolean

They are called "primitive" as it is already in-built inside Python and can be straight-away used in your code. 

`Integers` are whole numbers: `10`, `-13`, `313`, `0`

`Float` are numbers that are not whole: `3.14`, `-2.222`. The float version of the integers above are simply `10.0`, `-13.0`, `313.0`, and `0.0`

`String` are a collection of characters. `'PINUS Ori'`, `'L0L'`, `'@pinus_meliora rocks!'` are examples of strings. `'10'` and `'3.14'` are also strings indicated by the apostrophe (') marks. Unlike Integers and Floats, they cannot be used in mathematical calculations. 

`Boolean` is a data type that only consist of two values: `True` and `False`. It is used for logic. All the other data types can  be interpreted as `True` or `False`.

In [ ]:
my_integer  = 313
my_float    = 3.14
my_string   = '@pinus_meliora' # Kutip 1
my_string   = "@pinus_meliora" # Kutip 2 
mystr = "Andy's toys"
my_boolean  = True

print('The data type of ' + str(my_integer)   + ' is ' + str(type(my_integer)))
print('The data type of ' + str(my_float)     + ' is ' + str(type(my_float)))
print('The data type of ' + str(my_string)    + ' is ' + str(type(my_string)))
print('The data type of ' + str(my_boolean)   + ' is ' + str(type(my_boolean)))

print("Andy's toys are Aaron's toys")
print(" he said \"I'm here\" ")
print(' he said "I\'m here" ')

The data type of 313 is <class 'int'>
The data type of 3.14 is <class 'float'>
The data type of @pinus_meliora is <class 'str'>
The data type of True is <class 'bool'>
Andy's toys are Aaron's toys
 he said "I'm here"
 he said "I'm here"

## **Variables**

Now you have all these amazing data types that you can work with. But, having to input manually the data at each part of your code can be extremely painful. Not only you need to keep track yourself, if you need to change something, you will need to change your entire code. 

Take this example.

In [ ]:
'''
Ratio of area of box to a circle enclosed inside the box
Let the length of the box equals to the diameter of the circle be 10. 
'''
print('Ratio of area of box to a circle enclosed inside the box')
print((10 * 10) / (4.14 * 5 * 5))

'''
Sum of area of box and the circle enclosed inside the box
Let the length of the box equals to the diameter of the circle be 10. 
'''
print('Sum of area of box and the circle enclosed inside the box')
print(10 * 10 + 4.14 * 5 * 5)

Ratio of area of box to a circle enclosed inside the box
0.966183574879227
Sum of area of box and the circle enclosed inside the box
203.5

In the example above, I have made a few calculations. There are certainly a few problems.

1. What if I inserted some values wrong? (My *pi* is intentionally wrong.) 
2. What if I want to change the length of the box?

Changing it one by one can be painstaking, not to mention you forgot to change some of the values and break the code. 

Python, and almost all programming languages in the world, allows you to store values in **variables**.

Imagine variables like lockers. Each locker can store an item, in this case a datum. Each locker will have a name. 

Let us rewrite the code above in a better manner utilising the "lockers" Python has provided us.

In [ ]:
length    = 20 # Change this
diameter  = length
radius    = diameter / 2
PI        = 3.14 # Change this

'''
Ratio of area of box to a circle enclosed inside the box
Let the length of the box equals to the diameter of the circle be 10. 
'''
print('Ratio of area of box to a circle enclosed inside the box')
print((length * length) / (PI * radius * radius)) 

'''
Sum of area of box and the circle enclosed inside the box
Let the length of the box equals to the diameter of the circle be 10. 
'''
print('Sum of area of box and the circle enclosed inside the box')
print(length * length + PI * radius * radius)

Ratio of area of box to a circle enclosed inside the box
1.2738853503184713
Sum of area of box and the circle enclosed inside the box
714.0

Much better, isn't it? It is easier to edit as well. Change one part, everything will be updated.

## Variable naming rules and convention
Now, yes, you can name your variables *almost* anything in this world. However there are some restrictions you must adhere and a convention people usually follow. The rules are **strictly to be adhered**, while a convention may or may not be followed. However, following the convention can make your life much easier.
### Rules
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

### Convention
1. Do not use names that has been used in the code before
2. Use normal characters (no emojis plz)
3. Variable names are usually `lowercase` or `lower_case_with_underscores`
4. Be descriptive. E.g. `num_of_apples` > `apl`
5. Variable names that contains constants (e.g. Pi, Golden Ratio) are named `UPPERCASE` or `UPPER_CASE_WITH_UNDERSCORES`.

## Quick Maths: **Arithmetic Operations**
![quick maths](https://media.giphy.com/media/11pOf2WpNoRSKc/giphy.gif)

Now, we have been doing maths above. But, we have yet to discuss how Python exactly processes arithmetic calculations. Generally speaking, Python follows the standard operator precedence that we have learnt in school, **BIDMAS**. 

* **B**rackets ()
* **I**ndices **
* **D**ivision / or //
* **M**ultiplication *
* **A**ddition +
* **S**ubtraction -

For the complete list, refer to the table below

![link text](https://img.brainkart.com/extra3/G2hID2U.jpg)

In [ ]:
#################################
#          PLAYGROUND           #
# Try out some quick mathz here #
#################################
print('3 + 4 * 5 is ')
print(3 + 4 * 5)
print('(3 + 4) * 5 is ')
print((3 + 4) * 5)

13**13

3 + 4 * 5 is
23
(3 + 4) * 5 is
35

302875106592253

There are some notable arithmetic operators in Python that you may not be aware of before. 

*   `**` --> exponents. 2 to the power of 3 is 8 written as `2 ** 3`
*   `%` --> modulo. 5 divided by 2 is 2 with the remainder of 1. `5 % 2` will produce the remainder, which is `1`.
*   `/` vs `//` --> / is an ordinary division which will produce `Float` while // is a _floor_ division which will produce `Integer`.

###Remarks:

*   Modulo `%` is often used to check for divisibility and whether a number is odd or not. When `number % 2`, odd numbers will produce `1` while even numbers will produce `0` 
*   Floor division `//` is often used to remove the digits of a _positive_ number by `number // 10`.

In [ ]:
print('2 ** 3 = ' + str(2 ** 3))
print('5 % 2 = '  + str(5 % 2))
print('5 / 2 = '  + str(5 / 2))
print('5 // 2 = ' + str(5 // 2))
print()
print('-10 / 4 = '  + str(-10 / 4))
print('-10 // 4 = ' + str(-10 // 4))
print()
print('Remarks:')
print('Odd number 5 % 2 = '  + str(5 % 2))
print('Even number 6 % 2 = ' + str(6 % 2))
print()
print('12345 // 10 = '  + str(12345 // 10))
print('12345 // 10 // 10 = '  + str(12345 // 10 // 10))

2 ** 3 = 8
5 % 2 = 1
5 / 2 = 2.5
5 // 2 = 2

-10 / 4 = -2.5
-10 // 4 = -3

Remarks:
Odd number 5 % 2 = 1
Even number 6 % 2 = 0

12345 // 10 = 1234
12345 // 10 // 10 = 123

### Now You See Me: **String Manipulation**
Like numbers where you can make calculations, you can **add** and **multiply** strings.

In [ ]:
'PINUS ' + 'ORI ' + 2 * '20'

'PINUS ORI 2020'

You cannot subtract nor divide string by anything.

In [ ]:
( 'PINUS ' + 'ORI ' ) / 2020

TypeError: ignored

In [ ]:
'PINUS ' + 'ORI ' - 'ORI'

TypeError: ignored

Mixing numbers and strings are an even bigger sin.

In [ ]:
'2000' + 20

TypeError: ignored

Make sure you convert data types if mixing them is indeed your intentions.

In [ ]:
int('2000') + 20

2020

In [ ]:
'2000' + str(20)

'200020'

## Make my first ever machine: **Functions**
Did you remember your math class where you learn about functions?
```
f(x) = y
g(x, y) = z
```
It takes in one/several inputs and returns (an) output. *(Python functions can have several **output** although will not be used in CS1010E.)*

The formal way of defining a function is as follows.
```
def function_name(parameter_1, parameter_2, ...):
  do_something()
  return output_value
```
Let us just try it out so you understand.

In [ ]:
def square(x):
  return x * x

def power(x, y):
  return x ** y

print('The square of 3 is ' + str( square(3) ))
print('2 to the power of 3 is ' + str( power(2, 3) ))

The square of 3 is 9
2 to the power of 3 is 8

Funtions can call other functions as well.
This is called **abstraction**. You will learn more about this in the second-half of the semester.

In [ ]:
def power(x, y):
  return x ** y

def square(x):
  return power(x, 2) 
  # calling other functions
  # make sure the functions called have been defined before

print('The square of 3 is ' + str( square(3) ))
print('2 to the power of 3 is ' + str( power(2, 3) ))

The square of 3 is 9
2 to the power of 3 is 8

### `print()` vs `return`: What's the difference?
If you run both functions below, it looks the same. What happens?

In [ ]:
def print_square(x):
  print(power(x, 2))

print_square(3)

9

In [ ]:
def return_square(x):
  return power(x,2)

return_square(3)

9

The answer itself is rather philosophical. 
`print()` itself does not actually return anything. The function will only returns a None object. It will only shows the results on the **user's screen**.
`return` statements itself actually spouts an actual object and when there are nothing else on the screen, Python will auto-print it. 

The following shall make the distinction clear.

In [ ]:
print_result  =  print_square(5)
return_result = return_square(5)

print('=== PRINTING OUTPUT ===')
print(print_result)
print(return_result)

25
=== PRINTING OUTPUT ===
None
25

The first `25` was printed as when `print_square(5)` was ran, the function executes the `print` statement and returns `None`.

## Theory of Relativity: **Comparison**

In coding, it is important to know what is greater than the other. 
Sure, we know 2 is greater than 1. But how about 'alphabet' to 'Alphabet'? Or perhaps comparing string to integer?

You are able to compare data by using standard comparisons.

*   `>` greater than
*   `>=` greater or equal than 
*   `==` equal to
*   `<=` less or equal than
*   `<` less than
*   `!=` not equal to
*   `is` the same object *(We'll talk about it later)*

Comparing numbers are easy. I do not need to tell you that.
Comparing strings? The rule of thumb is to follow a **dictionary**. Words that comes up first are "smaller" than words that comes later. This implies that:
*   "aaaa" < "aaab" *(Given that both strings share the same characters in the beginning, you start comparing it at the character where it is different.)*
*   "aaa" < "aaab" *(Shorter words are smaller given the conditions above.)*
*   "bbb" > "bbaa"

Now what is the string is a combination of non-alphabets? Numbers? Special characters? Capital letters?

Follow the ASCII table!
![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/ASCII-Table.svg/1200px-ASCII-Table.svg.png)

In a nutshell, these are the order of characters from the smallest to the biggest.
*  Special characters ` !"#$%^'&()*+,-./ `
*  Numbers `0123456789`
*  (More) Special Characters `:;<=>?@`
*  UPPERCASE ALPHABETS `ABCDEFGHIJKLMNOPQRSTUVWXYZ`
*  (Even more) (Obscure) Special Characters `[\]^_`
*  lowercase alphabets `abcdefghijklmnopqrstuvwxyz`
*  (I promise) The last special characters `{|}~`

You just need to remember that **numbers < UPPERCASE < lowercase**

Now try to guess the output of the codes below. Don't cheat.

In [ ]:
print('CS1010E ' < 'CS1010E')
print('' == ' ')
print('2020' < '20twenty')
print('@cs_1010_e' != '@cs1010e')

False
False
True
True

## One small step for man, one giant leap for mankind: **Logic of `If-Else` statement**
###### *AKA your very very first Artificial Intelligence model*

What happens if you try to divide any number with 0?

In [ ]:
def divide(numerator, denominator):
  return numerator / denominator

divide(13572548178123, 0)

ZeroDivisionError: ignored

*Yikes!* That sucks.

What if we can prevent such things from happening?

We know that a denominator should not be 0 before the world goes mad. We can create a conditional using `if-else`.

The general code is as follows:

```
if <boolean statement 1>:
  do_something_1() # only if the statement above is True
elif <boolean statement 2>:
  do_something_2() # only if statement1 is False and statement2 is True

  ...

elif <boolean statement n>:
  do_something_n() # only if statement 1 to n-1 is False and statement n is True

else:
  i_give_up() # only executed if all the statements above is false
```
Please note that elif and else is not required.

This is a valid code.
```
if PINUSOriIsAwesome():
  print('Hip Hip hooray!')
``` 

This is valid as well.
```
if PINUSOriIsAwesome():
  print('Sik sikk broo')
elif PINUSOriIsMeh():
  print('Not bad leh...')
```
This is **NOT** valid.

In [ ]:
elif True:
  print('told you so')

SyntaxError: ignored

In [ ]:
else:
  print('told you so')

SyntaxError: ignored

Now, let us try adding a conditional to our function above.

In [ ]:
def divide(numerator, denominator):
  if denominator == 0:
    return 'YOU CANNOT DIVIDE BY 0'
  else:
    return numerator / denominator

divide(13572548178123, 0)

'YOU CANNOT DIVIDE BY 0, DUMBASS'

The following codes are valid as well. 

Why are they valid?

In [ ]:
def divide(numerator, denominator):
  if denominator == 0:
    return 'YOU CANNOT DIVIDE BY 0'
  
  return numerator / denominator

divide(13572548178123, 0)

'YOU CANNOT DIVIDE BY 0, DUMBASS'

In [ ]:
def divide(numerator, denominator):
  if denominator: #denominator becomes 0 --> False
    return numerator / denominator
  
  return 'YOU CANNOT DIVIDE BY 0, DUMBASS'

divide(13572548178123, 0)

'YOU CANNOT DIVIDE BY 0, DUMBASS'

In [ ]:
'''
If the data is not empty or 0, it is evaluated as True.
Empty string ''
Number 0
0.0
...
'''
if 0.0:
  print("It is true")
else:
  print("It is false")

It is false

In [ ]:
## Set 1
if True:
  print("line 1")

## Set 2
if True:
  print("line 2")
else:
  print("line 3")

line 1
line 2

In [ ]:
if True: #1
  if False: #2
    print("line 1")
  else: #2
    print("line 2")
#####################
else: #1
  print("line 3")

line 2

In [ ]:
# and
# or
# not

if ((2 > 3) or (3 < 4)) and (4 < 5):
  print("COMBINED!")

'''
This actually happened
'''
if ((2 > 3) or (3 < 4)):
  if (4 < 5):
    print("COMBINED!")

if (2 > 3) and (3 < 4):
  print("NO COMBINED!")

if not (2 > 3) and (3 < 4):
  print("kinda COMBINED!")

COMBINED!
kinda COMBINED!

## Keep me in the **Loop**: For and While

Imaging you are running in a 42 km marathon.


```
leftStep()
rightStep()
.
```
![alt text](https://i.imgflip.com/48rdu4.jpg)
```
.
leftStep()
rightStep()
```
This is pure madness!

### Introducing the **`for`** loop!
 
If you know the distance of the marathon (which you do when you signed up) and the distance you cover for every step, you can count the number of steps you make and repeat it over and over again. 
```
DISTANCE = 10 * 1000 * 100 #10 km * 1000 m * 100 cm
STEP_SIZE = 20 # cm
num_of_steps_needed = DISTANCE / STEP_SIZE

for n in range(num_of_steps_needed):
  left_step()
  right_step()
```

The very basic code for a for loop is:


```
for item in array:
  do_something()
```
For now, we will learn using `range(n)` to replace the array. 
Long story short, run the code below to know how it works.

In [ ]:
N = 10

for index in range(N):
  print(index)

0
1
2
3
4
5
6
7
8
9

### Learning how to draw
We will use the package `turtle` here. `turtle` allows us to draw using Python. Here is a code to draw a square.

In [ ]:
initializeTurtle() #ignore this for now

forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)

Sweet, isn't is? turtle has many basic commands. What you'll need is only three for this exercise.

```
forward(distance) # move forward as much as distance
left(degree)      # rotate to the left as much as the degrees (not radian)
right(degree)     # rotate to the right as much as the degrees (not radian)
```

Now, the code above is a bit too long. We keep moving forward and do a 90-degree rotation all the time. Repetitive. We can use a `for` loop to do it!

In [ ]:
initializeTurtle()

for _ in range(3):
  forward(100)
  left(90)

Shorter, isn't it? This is the beauty of a loop. 
Can you draw a **triangle**? How about a **hexagon**?




####**Exercise: Create a function that takes in the number of sides `n` and returns a normal polygon with `n` sides.**

In [ ]:
## PATTERN RECOGNITION

"""
for _ in range(4):
  forward(100)
  left(90)
"""

"""
for _ in range(3):
  forward(100)
  left(360-60)
"""

def make_polygon(sides):
  initializeTurtle()

  ### YOUR CODE STARTS HERE ###
  for _ in range(sides):
    forward(5)
    left(360/sides)

  ### YOUR CODE ENDS HERE ###
  pass

print('Making pentagon')
make_polygon(50)

Making pentagon

#### **Challenge!**
Recreate the following shapes!
Tips: Modify the function you made above.
![alt text](https://i.ibb.co/cF8yJcv/illuminati.png)

In [ ]:
def make_triangle(sides, length):
  initializeTurtle()
  ### YOUR CODE STARTS HERE ###



  ### YOUR CODE ENDS HERE ###
  pass

def funny_shape():
  initializeTurtle()

  ### YOUR CODE STARTS HERE ###



  ### YOUR CODE ENDS HERE ###
  pass

funny_shape()

### Introducing the **`while`** loop!

Back to our marathon problem.

Humans are extremely terrible in keeping track of precisely how many steps do you need to cross the finish line nor how many steps have been done.

Hence, life is easier if we have some sort of condition to stop running. 
We keep on running **until we cross the finish line**. 

That's where the `while` loop comes from. It will keep on executing the code while the condition is satisfied.
```
'''
CrossedTheFinishLine() will return a boolean value of True or False.
'''

while not CrossedTheFinishLine():
  run_one_step()

celebrate()
```
Generally, we frown upon a `while` loop because as much as it is convenient, it is in my humble opinion dangerous and most questions in CS1010E have a clear `end`, in which the `for` loop can handle.

In [ ]:
### PLEASE DO NOT RUN (unless someone's feeling naughty)
cnt = 0

while True:
  cnt += 1

## I need more space! **Lists (and Tuples)**
Say you have been practicing for your marathon. You have been recording your marathon timings. 
```
marathon_practice_1 = 30.1
marathon_practice_2 = 29.8
marathon_practice_3 = 29.4
marathon_practice_4 = 28.5
marathon_practice_5 = 28.6
marathon_practice_6 = 27.9
```

Now, as you run for more practice, things can get wilder. You may be inconsistent in naming your variables. You started to forget in which variable where you store things. 

Introducing **an array**. Arrays are a collection of objects. In Python, there are several types of arrays. CS1010E will focus on Lists, Tuples, and Dictionaries. We will only cover Lists and a bit of Tuples.

The practice above can be saved as the following:


```
marathon_practice = [30.1, 29.8, 29.4, 28.5, 28.6, 27.9]
```
Why is it better?

1.   **It helps you organise your data** the same way you organise your clothes in your drawers.
2.   **Easier and more consistent way of accessing data**
3.   **Allows you to manipulate information in the data easier** such as calculating the average and the number of objects in the array.

### Creating a new empty list

In [ ]:
new_list_1 = list()
new_list_2 = []

new_list_1 == new_list_2

True

### Index of a List (or basically any arrays)
In Python, all indexes **start from 0** (or **-1** if you read **from the right**).
Please remember this as this is super important.
![alt text](https://cdn.programiz.com/sites/tutorial2program/files/python-list-index.png)

### Accessing contents of the list
To access the content of the list,

```
my_list[index]
```
Example is as below.

In [ ]:
my_list = ['CS', 1010, 'E', 'is awesome is', True]
my_extreme_list = [ ['CS', 1010, 'E'] , 'is awesome is', True]

for index in range(3):
  print('For index {}'.format(index))
  print(my_extreme_list[index])
  print(type(my_extreme_list[index]))
  print()

For index 0
['PINUS', 'Ori', 2020]
<class 'list'>

For index 1
is awesome is
<class 'str'>

For index 2
True
<class 'bool'>

In [ ]:
my_list = ['CS', 1010, 'E', 'is awesome is', True]

for index in range(-1, -6, -1):
  print('For index {}'.format(index))
  print(my_list[index])
  print(type(my_list[index]))
  print()

For index -1
True
<class 'bool'>

For index -2
is awesome is
<class 'str'>

For index -3
2020
<class 'int'>

For index -4
Ori
<class 'str'>

For index -5
PINUS
<class 'str'>

###What happens if you access an item that is nonexistent in an array?
Run the code below.

In [ ]:
print(my_list[5]) #It make sense, right, since I have 5 items in my list.

IndexError: ignored

### Taking a subset of objects in an array
You can take a subset from an array. 
Formula is as follows

```
my_list[start:stop:step]
```
`start` is the index where you start the subset inclusive
`stop` is the index where you stop the subset exclusive
`step` is the steps you make from the start to the end (like skipping)
By default, 
```
start = 0
stop = len(list)
step = 1
```

In [ ]:
my_list = ['CS', 1010, 'E', 'is awesome is', True] #, IDX5]

to_print = [
            my_list, #1
            my_list[:], #2 
            my_list[::], #3
            my_list[0:5:1], #4
            '==========',
            my_list[:2],
            my_list[:2:],
            '==========',
            my_list[2:],
            my_list[2::],
            '==========',
            my_list[::2],
            my_list[:4:2],
            my_list[1::2]      
]

for index, lst in enumerate(to_print):
  print(str(index) +' '+ str(lst))

0 ['PINUS', 'Ori', 2020, 'is awesome is', True]
1 ['PINUS', 'Ori', 2020, 'is awesome is', True]
2 ['PINUS', 'Ori', 2020, 'is awesome is', True]
3 ['PINUS', 'Ori', 2020, 'is awesome is', True]
4 ==========
5 ['PINUS', 'Ori']
6 ['PINUS', 'Ori']
7 ==========
8 [2020, 'is awesome is', True]
9 [2020, 'is awesome is', True]
10 ==========
11 ['PINUS', 2020, True]
12 ['PINUS', 2020]
13 ['Ori', 'is awesome is']

### Reverse List
A list can be reversed if the step is a negative number (i.e. `step < 0`)
When the `step` is negative, the default values of start and stop changes
```
start = beginning of list
stop = end of list
```

In [ ]:
my_list[::-1]

[True, 'is awesome is', 2020, 'Ori', 'PINUS']

### Useful list functions
`len(lst)` returns the length of the list. 

Sample use case:
1.  Iterating through a list
```
\my_list = [...]
\for idx in range( len(my_list) ):
\  do_something_with_object_inside_list( my_list[idx] )
```
2.  Fail-safe
```
\def myfunction(index): 
\  if index >= len(my_list)
\    # Do not access list as it will return an IndexError
\    return None
\  else:
\    return my_list[idx]
```

In [ ]:
len(my_list)

5

### *A slight side-tracking*: **Strings have Array-like features too!**
Imagine a `string` is like an array of characters stored in a list, but when you print the array, they will automatically combine all the characters into one sentence.

In [ ]:
my_string = 'CS tenten EEE is super awesome!!!'

print(my_string[0])
print(my_string[:5])
print(my_string[5:10])
print(my_string[5::2])
print(my_string[::-1])

## Even cooler: you can split your string into actual arrays!
my_splitted_list = list(my_string)
print(my_splitted_list)

my_tokenised_list = my_string.split() 
print(my_tokenised_list)

P
PINUS
 Ori
 r 00i ue wsm!!
!!!emosewa repus si 0202 irO SUNIP
['P', 'I', 'N', 'U', 'S', ' ', 'O', 'r', 'i', ' ', '2', '0', '2', '0', ' ', 'i', 's', ' ', 's', 'u', 'p', 'e', 'r', ' ', 'a', 'w', 'e', 's', 'o', 'm', 'e', '!', '!', '!']
['PINUS', 'Ori', '2020', 'is', 'super', 'awesome!!!']

### Modifying lists

`append(item)` and `extend(array)` is in-place

In [ ]:
my_first_list = ['CS', 1010, 'E']

my_third_list = my_first_list.append('!!!')
print(my_third_list)
print(my_first_list)

my_fourth_list = my_first_list.extend('???')
print(my_fourth_list)
print(my_first_list)

my_appended_list = ['CS', 1010, 'E']
my_extended_list = ['CS', 1010, 'E']
my_second_list = ['is awesome is', True]

my_appended_list.append(my_second_list)
my_extended_list.extend(my_second_list)
print(my_appended_list)
print(my_extended_list)

None
['PINUS', 'Ori', 2020, '!!!']
None
['PINUS', 'Ori', 2020, '!!!', '?', '?', '?']
['PINUS', 'Ori', 2020, ['is awesome is', True]]
['PINUS', 'Ori', 2020, 'is awesome is', True]

### Modifying the content of a list

In [1]:
my_list = ['CS', 1010, 'E', 'is', 'awesome']
my_list[0] = 'IT'
my_list[-1] = 'NOT awesome'

print(my_list)

['IT', 1010, 'E', 'is', 'NOT awesome']

### What about tuples?
 Tuples are just like list, but they are immutable. It means that you **cannot modify the content nor shape** of the tuple.

In [ ]:
new_tuple = ()

not_a_tuple = ('CS1010E') # the brackets are considered arithmetic brackets
is_a_tuple = ('CS1010E',) # a comma at the end

print(type(not_a_tuple))
print(type(is_a_tuple))

is_a_list = ["CS1010E"]
still_a_list = ["CS1010E",]
print(type(is_a_list))
print(type(still_a_list))

<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'list'>

In [ ]:
my_tuple = ('CS', 1010, 'E', 'is', 'awesome')
my_tuple[3] = 2021

TypeError: ignored

In [ ]:
my_tuple.append('!!!')

AttributeError: ignored

In [ ]:
my_tuple.extend(['!!!'])

AttributeError: ignored

To combine two or more tuples, use the `+` sign.

In [ ]:
my_first_tuple  = ('CS', 1010, 'E')
my_second_tuple = ('is awesome is', True)

my_first_tuple + my_second_tuple

('PINUS', 'Ori', 2020, 'is awesome is', True)

In [ ]:
my_array = my_first_tuple + my_second_tuple
print(my_array)

for idx in range(len(my_array)): #idx is a number
  print(my_array[idx])
  print(my_array_number_2[idx])

for item in my_array:
  print(item)

('PINUS', 'Ori', 2020, 'is awesome is', True)
PINUS
Ori
2020
is awesome is
True

## Closing Remarks

To be honest, I do not know what else to say. I just finished this material at 1.30 am, 8 hours before the workshop.

There will be a lot of mistakes in this notebook and will be improved as we go along. But I do hope you can learn to love coding, even if it is just Python. Python can do great stuff! Believe in yourself.

Here are some good resources to learn Python.

1.   [Kaggle Courses](https://www.kaggle.com/learn/overview)
2.   [Python Tutor - Visualise your Code](http://www.pythontutor.com/visualize.html)
3.   Your coursemates. I'm not joking.

Your friends can be a rich resource in picking up new skills. Study together and you may pass the exams with flying colours, without cheating of course.
(Read: [Straits Times: 'Coronavirus: NUS students allegedly abuse Covid-19 measures to cheat on exam'](https://www.straitstimes.com/singapore/education/coronavirus-nus-students-allegedly-abuse-covid-19-measures-to-cheat-on-exam))
*(Gossips: [NUSWhispers | CS1010E](https://nuswhispers.com/search/CS1010E))*

Now, what will you face ahead? You will learn less on the Python and more on the **computational thinking**. Computational Thinking? What is that? It means that you will learn more on how to solve problems systematically rather than learning syntax. This short workshop covered you for that. Now you can focus on tackling how to solve tough problems.

If you need any help, feel free to drop me an email at matheus9@comp.nus.edu.sg. I'd be more than glad to help you. 

See you on campus.

Matheus